{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reagendamento</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/themifyicons.css' %}">
</head>

<body>
    <script src="https://kit.fontawesome.com/a42fb6df6b.js" crossorigin="anonymous"></script>
    <!-- Library Bootstrap Js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <!-- header-start -->
    <header>
        {% include 'partials/header.html' %}
    </header>
    <main>
        <div class="registration-form">
            <h2>Reagendar consulta</h2>
            <form id="rescheduleForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="custom-date">
                        <input type="date" name="{{ form.date.name }}" id="date" class="form-control" placeholder=" ">
                        <span class="placeholder">Selecione a Data</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-time">
                        <input type="time" name="{{ form.time.name }}" id="time" class="form-control" placeholder=" ">
                        <span class="placeholder">Selecione o Horário</span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="boxed-btn3">Reagendar</button>
                </div>
            </form>
            <div class="success-container">
                <div id="success-alert" class="alert alert-success d-none success-alert" role="alert">
                    Reagendamento realizado com sucesso!
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        {% include 'partials/footer.html' %}
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
                const form = document.getElementById('scheduleForm');
                form.addEventListener('submit', async (event) => {
                    event.preventDefault();
                    const successAlert = document.getElementById('success-alert');
                    successAlert.classList.remove('d-none');

                    setTimeout(async () => {
                        successAlert.classList.add('d-none');
                        const formData = new FormData(form);
                        const response = await fetch(form.action, {
                            method: form.method,
                            body: formData
                        });

                        if (response.ok) {
                            window.location.href = "{% url 'appointments:list' %}";
                        } else {
                            console.error('Erro ao enviar o formulário:', response);
                        }
                    }, 2000);
                });
            });
        document.querySelectorAll('input[type="date"]').forEach(input => {
                input.addEventListener('change', e => {
                    const placeholder = e.target.nextElementSibling;
                    if (e.target.value !== '') {
                        placeholder.style.top = '-12px';
                        placeholder.style.fontSize = '12px';
                    }
                });
            });

        document.querySelectorAll('input[type="time"]').forEach(input => {
            input.addEventListener('change', e => {
                const placeholder = e.target.nextElementSibling;
                if (e.target.value !== '') {
                    placeholder.style.top = '-12px';
                    placeholder.style.fontSize = '12px';
                }
            });
        });
    </script>
</body>

</html>
{% endblock %}